.app__navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1rem 2rem;
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.18);

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  position: fixed;
  z-index: 2;
}

.app__navbar-logo {
  img {
    width: 90px;
    height: 20px;
  }
}

.app__navbar-links {
  flex: 1;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;

  li {
    cursor: pointer;
    margin: 0 1rem;
    flex-direction: column;

    a {
      text-decoration: none;
      color: var(--gray-color);
      text-transform: uppercase;
      font-weight: 500;

      transition: all 0.3s ease-in-out;

      &:hover {
        color: var(--secondary-color);
      }
    }
  }

  @media screen and (max-width: 900px) {
    display: none;
  }
}

// app__navbar-menu
.app__navbar-menu {
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--secondary-color);

  svg {
    position: absolute;
    color: var(--white-color);
    width: 70%;
    height: 70%;
  }

  div {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;

    z-index: 5;

    padding: 1rem;
    width: 80%;
    height: 100vh;

    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;

    background-color: var(--white-color);
    // background: url("../../assets/bgWhite.png");
    // background-repeat: repeat;
    // background-size: cover;

    box-shadow: 0px 0px 20px rgba(168, 168, 168, 0.1) 5;

    svg {
      width: 35px;
      height: 35px;
      color: var(--secondary-color);
      margin: 0.5rem 1rem;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      li {
        margin: 1rem;

        a {
          text-decoration: none;
          color: var(--gray-color);
          text-transform: uppercase;

          &:hover {
            color: var(--secondary-color);
          }
        }
      }
    }

    // @media screen and (min-width: 900px) {
    //     display: none;
    //   }
  }

  @media screen and (min-width: 900px) {
    display: none;
  }

}
